@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #EDF0E8;
  --color-foreground: #3D4127;
  --color-primary: #3D4127;
  
  /* Typography */
  --font-sans: var(--font-inter);
  
  /* Border Radius */
  --radius-2xl: 24px; /* menggunakan 2xl sebagai 24px atau buat custom --radius-custom: 24px */
  --radius-card: 24px;
  --radius-button: 24px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
